*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: lato;
    background:url(blackpit.webp) no-repeat center fixed;
    -webkit-background-size:cover;
}

#navbar {
    background: #f1f1f1;
    padding: 90px 10px;
    position: fixed;
    width: 100%;
    top: 0;
    transition: 0.4s;
}

#navbar a {
    float: left;
    padding: 12px;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

#navbar #logo {
    font-size: 35px;
    font-weight: bold;
}

#navbar-right {
    float: right;
    color: white;
}

p {
    color: white;
    margin: 16px;
}

a.hypertext:link {
    text-decoration: none;   
}

a.hypertext:visited {
    color: gray;
}

.aboutte {
    font-weight: bold;
} 

    


